#headerEnsemble {
  background-color: cadetblue;
  height: 400px;
  opacity: 80%; }

#titreHeader {
  font-family: 'Duru Sans', sans-serif;
  font-size: 3em;
  color: aqua; }

#justePrix {
  margin-top: 100px; }

a {
  text-decoration: none;
  color: #232020; }

.card {
  box-shadow: 1px 1px 1px #FF9E9E;
  transition: all 1s ease-out; }

.card:hover {
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

#meteo {
  margin-top: 100px; }

#coursBitCoin {
  margin-top: 100px; }

#galerie {
  margin-top: 100px; }

#footerEnsemble {
  background-color: rgba(77, 151, 145, 0.52);
  height: 150px;
  margin-top: 150px; }

#titreFooter {
  font-family: 'Duru Sans', sans-serif;
  font-size: 1.2em;
  color: #4c9393; }

/*Animation*/
.reveal {
  opacity: 0;
  transform: translateY(-30px); }

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
  transistion: 3s cubic-bezier(0.5, 0, 0, 1); }

/*Le Juste Prix*/
#Juste_Prix {
  background-color: #232020;
  min-width: 500px; }
  #Juste_Prix header {
    color: #ff7315;
    text-align: center;
    font-size: 3em; }
  #Juste_Prix #instructions {
    color: white; }
  #Juste_Prix .instruction {
    padding: 15px;
    margin: 10px 0; }
  #Juste_Prix .plus {
    background-color: #f67280; }
  #Juste_Prix .moins {
    background-color: #ffa372; }
  #Juste_Prix .fini {
    background-color: #0c9463; }

/*meteo*/
#meteoApp {
  background: #2980B9;
  background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
  background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
  min-width: 400px; }
  #meteoApp #ville {
    text-transform: capitalize; }
  #meteoApp #temperature {
    font-size: 4em; }
  #meteoApp #changer {
    background: rgba(178, 223, 251, 0.3);
    cursor: pointer; }

/*bitcoin*/
#bitCoinApp {
  background-image: url("../images/bitcoin_grand.jpg"); }
  #bitCoinApp #texte {
    margin-top: 150px; }
  #bitCoinApp h1 {
    color: #eefaf8; }
  #bitCoinApp #price {
    color: #eefaf8;
    font-size: 4em; }

/*animation*/
/* The fast way */
.make-it-fast {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }

/* Pre-render the bigger shadow, but hide it */
.make-it-fast::after {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease-in-out; }

/* Transition to showing the bigger shadow on hover */
.make-it-fast:hover::after {
  opacity: 1; }

/*# sourceMappingURL=style.css.map */
